.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  max-width: 1100px;
  margin: auto
}

@media (max-width: 1150px) {
  .header {
    padding: 1rem 2rem 0 2rem;
  }
}

.main {
  flex: 1;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .content {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.login{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.login button{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #001f3f;
  height: 58px;
  width: 180px;
  color: white;
  border: none;
  cursor: pointer;
}

.profileBar {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 0.5rem;
}

.modalContent {
  background-color: #fefefe;
  padding: 1rem;
  height: 150px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 3rem;
  z-index: 7;
  right: -2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modalUserName {
  display: flex;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  font-weight: semibold;
  color: gray;
}

.signOutButton {
  background-color: #ff1a1a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.signOutButton:hover {
  background-color: #ff4d4d;
}

.closeModalButton {
  background-color: #ccc;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeModalButton:hover {
  background-color: #bbb;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}